{% extends "base.html" %}
{% block content %}

<div class="media-container">
    <!-- Intro -->
    <section class="site-section site-section-light site-section-top themed-background-dark-night">
        <div class="container">
            <h1 class="text-center animation-slideDown"><i class="fa fa-building-o"></i> <strong>Манай компани</strong></h1>
            <h2 class="h3 text-center animation-slideUp"><strong>Ажлын мэргэжлийн хэмжээнд хийх хүсэлтэй залуус!</strong></h2>
        </div>
    </section>
    <!-- END Intro -->

    <!-- Gmaps.js (initialized in js/pages/about.js), for more examples you can check out http://hpneo.github.io/gmaps/examples.html -->
    <div id="gmap-top" class="media-map"></div>
</div>
<!-- END Media Container -->

<!-- Company Info -->
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                
                <div class="site-block">
                    <h3 class="site-heading"><strong>Эрхэм</strong> зорилго</h3>
                    <p>Дэлхийн жишигт нийцсэн технологиор, хэрэглэгчдийн сэтгэл ханамж өндөр түвшинд байхыг дээдлэсэн, чадварлаг хүний нөөц бүхий хөгжингүй манлайлагч, нийгмийн хариуцлагатай компани байхыг зорино.</p>
                </div>
                <div class="site-block">
                    <h3 class="site-heading"><strong>Хэзээ</strong> байгуулагсан бэ?</h3>
                    <p>  Манай компани 2005 оны 9 сард байгуулагдаж програм хангамж, системийн шинжилгээ, цахим картны хэвлэл, үйлдвэрлэл, програмчлал, хяналтын камерын систем, мэдээлэл технологийн чиглэлээр үйл ажиллагаа өнөөг хүртэл явуулж байна.</p>

                </div>
                <div class="site-block">
                    <h3 class="site-heading"><strong>Бид</strong> юу хийдэг вэ?</h3>
                    <p> Бид төрийн болон тусгай обьектуудад хяналтын нэвтрэх систем болон хяналтын камерын системийг чанарын өндөр түвшинд хийж гүйцэтгэдэг . Үүнд: Тагнуулын Ерөнхий Газар, Төрийн Тусгай Хамгаалалтын Газар, Цагдаагийн Ерөнхий Газар, Монгол Банк, Үндэсний Дата Төв, Замын Цагдаагийн Газар, Шүүхийн Шийдвэр Гүйцэтгэх газар, Хилийн Тагнуулын Газар болон бусад Яам, Тамгийн Газарууд гэх мэт байгууллагуудттай байнгын хамтын ажиллагаатай ажилладаг. Манай компани гүйцэтгэсэн ажилдаа удаан хугацааны баталгаат хугацаа олгодог ба засвар үйлчилгээг цаг тухайд нь түргэн шуурхай хийж гүйцэтгэдэг</p>
                </div>
                <div class="site-block">
                    <h3 class="site-heading"><strong>Хэрхэн</strong> ажилладаг вэ?</h3>
                    <p> Манай компани Солонгос улсын NITGEN компаний бүх төрлийн хурууны хээгээр мэдрэх төхөөрөмжүүд, БНХАУ-н 3DU TECH компаний цахилгаан соронзон цоож , цаг бүртгэлийн төхөөрөмж, АНУ-ын NISCA TEAM компаний бүх төрлийн карт хэвлэх принтерүүд, Тайван улсын MERIT LILIN компаний гадна, дотор хяналтын камер, дүрс архивлагч төхөөрөмжүүд, Италийн TATTILE SRL компаний авто машины дугаар таних зориулалтын камер, програм хангамж, АНУ-н ATMEL компаний чип бүхий цахим карт, БНСУ-ын M3 MOBILE компанийн мобайл шалгагч болон хувийн дижитал туслагч(PDA) зэргийг борлуулах албан ёсны борлуулагчаар ажилладаг</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="site-block">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Он</th>
                                <th class="text-center">Төсөл</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 20%;">2006</td>
                                <td>Эмнэлгийн цахим картны үйлчилгээний систем</td>
                            </tr>
                            <tr>
                                <td>2007</td>
                                <td>Смарт акцесс систем</td>
                            </tr>
                            <tr>
                                <td>2008</td>
                                <td>Монголд анх удаа цахим картанд хэрэглэгчийн зураг хурууны хээ болон бусад мэдээллийг оруулж офлайн горимд шалгах систем</td>
                            </tr>
                            <tr>
                                <td>2009</td>
                                <td>Нийслэлийн хөдөлмөрийн газарт хөдөлмөрийн биржийн цахим онлайн систем</td>
                            </tr>
                            <tr>
                                <td>2010</td>
                                <td>Монгол Улсын хавдрын нэгдсэн бүртгэл, эргэн дуудах тогтолцоо төсөл</td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td>Замын Цагдаагийн Газар Мэдээлэл Шуурхай Удирдлагын Төвийг байгуулсан</td>
                            </tr>
                            <tr>
                                <td>2012</td>
                                <td>Монгол Улсын жолоочийн эрхийн үнэмлэхийг цахим хэлбэрт оруулж чипэнд тухайн хүний зураг болон үндсэн мэдээлэл, торгууль, онооны систем</td>
                            </tr>
                            <tr>
                                <td>2013</td>
                                <td>Нийслэлийн Энхтайвны өргөн чөлөөнд  тусгай зориулалтын автомашины дугаар таних хяналтын 68 цэгт 117 гаруй камерыг суурилуулсан</td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td>Замын цагдаагийн бэлнээр төлдөггүй тасалбарын системийг ашиглалтанд оруулсан</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Company Info -->

<!-- Work Together Action -->
<section class="site-content site-section themed-background-dark-night">
    <div class="container">
        <div class="site-block text-center">
            <a href="contact.html" class="btn btn-lg btn-primary">Хамтран ажиллах уу?</a>
        </div>
    </div>
</section>
<!-- END Work Together Action -->

<!-- Quick Stats -->
<section class="site-content site-section themed-background">
    <div class="container">
        <!-- Stats Row -->
        <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
        <div class="row" id="counters">
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="56" data-after="+"></span>
                    <small>Амжилттай төсөл</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="5500" data-after="+"></span>
                    <small>Идэвхтэй хэрэглэгч</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="counter site-block">
                    <span data-toggle="countTo" data-to="20" data-after="+"></span>
                    <small>Олон улсын албан ёсны хамтрагч</small>
                </div>
            </div>
        </div>
        <!-- END Stats Row -->
    </div>
</section>
<!-- END Quick Stats -->
{% endblock %}
{% block scripting %}
    {{parent()}}
{% endblock %}