{% extends "base.html" %}
{% block content %}

<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-modern">
    <div class="container text-center">
        <h1 class="animation-slideDown"><strong> Intelligent Unattended Guard Gate IPW-AB1000</strong></h1>
    </div>
</section>
<!-- END Intro -->

<!-- Product View -->
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-4 col-lg-3">
                    <aside class="sidebar site-block">
                        <!-- Store Menu -->
                        <!-- Store Menu functionality is initialized in js/app.js -->
                        <div class="input-group">
                            <input id="ecom-search" name="ecom-search" class="form-control" placeholder="Хайх үгээ бичнэ үү.." type="text">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="sidebar-block">
                            <ul class="store-menu">
                                <li>
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Хуруу нүүр уншигч</a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Nitgen </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Зөөврийн терминал</a>
                                    <ul>
                                        <li><a href="javascript:void(0)">M3 Mobile </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Хяналтын камер</a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Lilin</a></li>
                                        <li><a href="javascript:void(0)">Tattile </a></li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Цахим карт </a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Карт хэвлэгч</a></li>
                                        <li><a href="javascript:void(0)">Карт уншигч </a></li>
                                    </ul>
                                </li>
                                <li class="open"> 
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Хаалга</a>
                                    <ul>
                                        <li><a href="#" style="color:#1BBAE1">Cmolo</a></li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Цойж</a>
                                    <ul>
                                        <li><a href="javascript:void(0)">3dutech</a></li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Долгион дарагч</a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Tangreat</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END Store Menu -->

                        <!-- Shopping Cart -->
                        <!--    <div class="sidebar-block">
                            <div class="row">
                                <div class="col-xs-6 push-bit">
                                    <span class="h3">$ 750<br><small><em>3 Items</em></small></span>
                                </div>
                                <div class="col-xs-6">
                                    <a href="ecom_shopping_cart.html" class="btn btn-sm btn-block btn-success">VIEW CART</a>
                                    <a href="ecom_checkout.html" class="btn btn-sm btn-block btn-danger">CHECKOUT</a>
                                </div>
                            </div>
                        </div>
                        <!-- END Shopping Cart -->
                    </aside>
                </div>
            <!-- END Sidebar -->

            <!-- Product Details -->
            <div class="col-md-8 col-lg-9">
                <div class="row" data-toggle="lightbox-gallery">
                    <!-- Images -->
                    <div class="col-sm-6 push-bit">
                        <a href="img/products/cmolo1.jpg" class="gallery-link"><img src="img/products/cmolo1.jpg" alt="" class="img-responsive push-bit"></a>
                        <div class="row push-bit">
                            <div class="col-xs-4">
                                <a href="img/products/cmolo1-1.jpg" class="gallery-link"><img src="img/products/cmolo1-1.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="col-xs-4">
                                <a href="img/products/cmolo1-2.jpg" class="gallery-link"><img src="img/products/cmolo1-2.jpg" alt="" class="img-responsive"></a>
                            </div>
                            <div class="col-xs-4">
                                <a href="img/products/pcmolo1-3.jpg" class="gallery-link"><img src="img/products/cmolo1-3.jpg" alt="" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                    <!-- END Images -->

                    <!-- Info -->
                    <div class="col-sm-6 push-bit">
                        <div class="clearfix">
                            <div class="pull-right">
                                <span class="h2"><strong></strong></span>
                            </div>
                            <span class="h4"><strong class="text-success">Out Stock</strong><br><small>Захиалгаар</small></span>
                        </div>
                        <hr>
                        <p>The subway turnstile gate opens automatically to evacuate people in the event of an emergency, such as fire, power failure, etc.Infrared and mechanical anti-clamping functions provide double protection.The gate can be pushed slowly when a sudden impact force is applied beyond the safety range so as to protect the machine and the pedestrian effectively. All electric modules are designed to operate under the safety voltage of 24V, and configured with residual current protective device to effectively avoid electric shocks.</p>
                        <hr>
                        <form action="#" method="post" class="form-inline push-bit text-right">
                            <button type="submit" class="btn btn-primary">Үнийн санал авах</button>
                        </form>
                    </div>
                    <!-- END Info -->

                    <!-- More Info Tabs -->
                    <div class="col-xs-12 site-block">
                        <ul class="nav nav-tabs push-bit" data-toggle="tabs">
                            <li class="active"><a href="#product-specs">Үзүүлэлт</a></li>
                            <li><a href="#product-description">CMOLO Бренд</a></li>
                            <li><a href="#product-reviews">Санал (3)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="product-specs">
                                <table class="table table-borderless table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Үндсэн үзүүлэлт</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 120px;"><strong>Feature #1</strong></td>
                                            <td>Details</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Feature #2</strong></td>
                                            <td>Details</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Feature #3</strong></td>
                                            <td>Details</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Хэмжээ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 120px;"><strong>Height</strong></td>
                                            <td>85cm</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Width</strong></td>
                                            <td>40cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-borderless table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Бусад</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 120px;"><strong>Info #1</strong></td>
                                            <td>Details</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Info #2</strong></td>
                                            <td>Details</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Info #3</strong></td>
                                            <td>Details</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="product-description">
                                <p>Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget!</p>
                                <p>Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum.</p>
                                <p>Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales!</p>
                                <h4 class="text-center"><strong><a href="#">www.cmolo.com</a></strong></h4>
                            </div>
                            <div class="tab-pane" id="product-reviews">
                                <ul class="media-list push">
                                    <li class="media">
                                        <a href="javascript:void(0)" class="pull-left">
                                            <img src="img/placeholders/avatars/avatar1.jpg" alt="Avatar" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <div class="text-warning pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                            <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                            <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="javascript:void(0)" class="pull-left">
                                            <img src="img/placeholders/avatars/avatar10.jpg" alt="Avatar" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <div class="text-warning pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                            <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                            <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="javascript:void(0)" class="pull-left">
                                            <img src="img/placeholders/avatars/avatar14.jpg" alt="Avatar" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <div class="text-warning pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                            <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                            <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END More Info Tabs -->
                </div>
            </div>
            <!-- END Product Details -->
        </div>
    </div>
</section>
<!-- END Product View -->
{% endblock %}
{% block scripting %}
    {{parent()}}
{% endblock %}

 