{% extends "base.html" %}
{% block content %}

    <section class="site-section site-section-light site-section-top parallax-image" style="background-image: url('img/placeholders/parallax/ub.jpg');">
        <div class="container">
            <h1 class="text-center animation-slideDown hidden-xs"><strong>Байгууллагад зориулсан тоног төхөөрөмж, программ хангамжийн цогц шийдэл </strong></h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center push">
            
            </div>
        </div>
        <div class="site-block text-center">
            <a href="http://goo.gl/TDOSuC" class="btn btn-lg btn-success"><i class="fa fa-star"></i> Бидний тухай</a>
            <a href="http://pixelcave.com/demo/proui" class="btn btn-lg btn-primary"><i class="fa fa-support"></i> Түгээмэл асуулт хариулт </a>
        </div>
    </section>
    <!-- END Home Carousel -->
    
    <!-- END Action -->
      <!-- Key Features -->
   
    <!-- Promo #1 -->
    <section class="site-content site-section site-slide-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                    <img src="img/solutions/cctv1.png" alt="Promo #1" class="img-responsive">
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                    <h3 class="h2 site-heading site-heading-promo"><strong>Хяналтын камерын</strong> шийдэл</h3>
                    <p class="promo-content">Байгууллагын дотоод хэрэглээнд тааруулан онлайн болон гар утас, таблетнээс хянах боломжтой хяналтын камерын цогц шийдэл юм. <a href="index.php?solution">илүү..</a></p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #1 -->

    <!-- Promo #2 -->
    <section class="site-content site-section site-slide-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                    <h3 class="h2 site-heading site-heading-promo"><strong>Зөөврийн</strong> терминал шийдэл</h3>
                    <p class="promo-content">Төвийн нэгдсэн удирлагатай агуулахын бараа бүтээгдэхүүн тооллого, цагдаа хүчний байгууллагад зөөврийн хяналт хийх цогц шийдэл юм. <a href="index.php?solution">илүү..</a></p>
                </div>
                <div class="col-sm-6 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                    <img src="img/solutions/m3.png" alt="Promo #2" class="img-responsive">
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #2 -->

    <!-- Promo #3 -->
    <section class="site-content site-section site-slide-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                    <img src="img/solutions/nisca.jpg" alt="Promo #3" class="img-responsive">
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                    <h3 class="h2 site-heading site-heading-promo"><strong>Цахим картын</strong> шийдэл</h3>
                    <p class="promo-content">Нууцлал бүхий давхрагтай, мэдээлэл хадгалах боломжтой, хүссэн загвартай цахим картын цогц үйлчилгээ юм.<a href="index.php?solution">илүү..</a></p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #3 -->

    <!-- Promo #4 -->
    <section class="site-content site-section site-slide-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                    <h3 class="h2 site-heading site-heading-promo"><strong>Нэвтрэх хяналтын</strong> систем</h3>
                    <p class="promo-content">Байгууллагын хянан нэвтрүүлэх хэрэглээнд хурууний хээ уншигч, нүүр танигчтай, цаг бүртгэл, цалин бодолтын цогс систем. <a href="index.php?solution">илүү..</a></p>
                </div>
                <div class="col-sm-6 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                    <img src="img/solutions/nitgen.png" alt="Promo #4" class="img-responsive">
                </div>
            </div>
            <hr>
        </div>
    </section>
    <!-- END Promo #4 -->

    <!-- Sign Up Action -->
    <section class="site-content site-section site-section-light themed-background-dark-night">
        <div class="container">
            <h3 class="site-heading text-center"><strong>Биднээс мэдээл</strong> хүлээн авах уу ?</h3>
            <div class="site-block text-center">
                <form action="features.html" method="post" class="form-horizontal" onsubmit="return false;">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="sr-only" for="register-email">Цахим шуудангаа оруулах</label>
                            <div class="input-group input-group-lg">
                                <input type="email" id="register-email" name="register-email" class="form-control" placeholder="Таны цахим шуудан..">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Бүртгүүлэх</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END Sign Up Action -->
    <section class="site-content site-section">
        <div class="container">
            <div class="site-block text-center">
                <h1>Манай давуу тал</h1>
            </div>
            <hr>
        </div>
    </section>
     <section class="site-content site-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 site-block">
                    <h3 class="site-heading"><i class="fa fa-arrow-right animation-floatingHor"></i> <strong>Шилдэг</strong> Технологи</h3>
                    <p class="remove-margin">Олон улсад танигдсан 20 гариу брендийн шилдэг технологийг нутагшуулан, заавар гарын авлага болон засвар үйлчилгээнд эх орондоо гүйцэтгэж байна.</p>
                </div>
                <div class="col-sm-4 site-block">
                    <h3 class="site-heading"><i class="fa fa-arrow-right animation-floatingHor"></i> <strong>Мэргэжилийн</strong> хамт олон</h3>
                    <p class="remove-margin">8 жилийн ажлын туршлагатай мэргэжлийн баг хамт олон танай байгууллагын хэрэгцээ шаардалагын тодорхойлон таны цаг, зардалын хэмнэн ажиллаж байна.</p>
                </div>
                <div class="col-sm-4 site-block">
                    <h3 class="site-heading"><i class="fa fa-check text-success animation-pulse"></i> <strong>Урт хугацааны</strong> дэмжлэг</h3>
                    <p class="remove-margin">Технологийн бизнест хамгийн чухал зүйл бол урт хугацааны найдвартай ажиллагаа болон хийсэн зүйлдээ эзэн болох байдаг. Бид үйлчлүүлэгчдийнхээ итгэлийг хадгалан урт хугацаанд хамтын ажиллагаа өрнүүлж байна.</p>
                </div>
            </div>
            <hr>
        </div>
    <!-- Quick Stats -->
    <section class="site-content site-section themed-background">
        <div class="container">
            <!-- Stats Row -->
            <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
            <div class="row" id="counters">
                <div class="col-sm-4">
                    <div class="counter site-block">
                        <span data-toggle="countTo" data-to="56" data-after="+"></span>
                        <small>Амжилттай төсөл</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter site-block">
                        <span data-toggle="countTo" data-to="5500" data-after="+"></span>
                        <small>Идэвхтэй хэрэглэгч</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter site-block">
                        <span data-toggle="countTo" data-to="20" data-after="+"></span>
                        <small>Олон улсын албан ёсны хамтрагч</small>
                    </div>
                </div>
            </div>
            <!-- END Stats Row -->
        </div>
    </section>
{% endblock %}
{% block scripting %}
    {{parent()}}
{% endblock %}