{% extends "base.html" %}
{% block content %}

    <section class="site-section site-section-light site-section-top themed-background-dark" style="height:300px">
        <div class="container">
            <h1 class="animation-slideDown text-center"><i class="fa fa-handshake-o"></i> <strong>Танд ямар шийдэл хэрэгтэй байна?</strong></h1><br>
            <div class="site-block text-center col-md-10 col-md-offset-1">
                <a href="#" class="btn  btn-primary"><i class="fa fa-check"></i> Нэвтрэх хяналтын систем</a>
                <button class="btn  btn-success"><i class="fa fa-check"></i> Хяналтын камерын систем</button>
                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i>Зөөврийн терминалын систем</a>
                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Цахим картын систем</a>
            </div>
        </div>
    </section>
    <!-- END Intro -->

    <!-- Content -->
    <section class="site-content site-section">
        <div class="container">

            <!-- Project Info -->
            <div class="row">
                <!-- Project Slider -->
                <div class="col-sm-5 site-block">
                    <div id="project-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center">
                            <div class="active item">
                                <img src="img/placeholders/screenshots/cctv.png" alt="Image 1">
                            </div>
                        </div>
                        <!-- END Wrapper for slides -->

                        <!-- Controls -->
                        <a class="left carousel-control" href="#project-carousel" data-slide="prev">
                            <span>
                                <i class="fa fa-chevron-left"></i>
                            </span>
                        </a>
                        <a class="right carousel-control" href="#project-carousel" data-slide="next">
                            <span>
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                        <!-- END Controls -->
                    </div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td style="width: 50%;"><strong>Дотор болн гадна IP камерууд</strong></td>
                                <td class="text-right">Lilin</td>
                            </tr>
                            <tr>
                                <td><strong>Тусгай зориулалтын дугаар бүртгэх камер</strong></td>
                                <td class="text-right">NITGEN</td>
                            </tr>
                            <tr>
                                <td><strong>Монирторинг програм хангамж</strong></td>
                                <td class="text-right"><a href="javascript:void(0)">http://example.com</a></td>
                            </tr>
                            <tr>
                                <td><strong>Хяналтын сервер, бичлэг хадгалах төхөөрөмж</strong></td>
                                <td class="text-right"><a href="javascript:void(0)">http://example.com</a></td>
                            </tr>
                            <tr>
                                <td><strong>Бусад дэд бүтэц</strong></td>
                                <td class="text-right">Сүлжээ, серверийн өрөө</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END Project Slider -->

                <!-- Project Details -->
                <div class="col-sm-7 site-block">
                    <h3 class="site-heading"><strong>Хяналтын камерын</strong> шийдэл</h3>
                    <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h4 class="site-heading">Гар утас таблет </h4>
                    <p>Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h4 class="site-heading">Онлайн</h4>
                    <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <!-- END Project Details -->
            </div>
            <!-- END Project Info -->
            <hr>
        </div>
    </section>
    <!-- END Content -->
    <section class="site-content site-section">
        <div class="container">
            <div class="row portfolio">
                <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                    <a href="index.php?detail">
                        <img src="img/products/lilin1.png" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong> Lilin  IP камер</strong></span>
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                    <a href="#">
                        <img src="img/products/tattile2.png" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>Vega 2HD IP камер</strong></span>
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                    <a href="#">
                        <img src="img/products/tattilevegahd.png" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>Vega HD IP камер</strong></span>
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                    <a href="#">
                        <img src="img/products/tattile1.jpg" alt="Image" class="img-responsive">
                        <span class="portfolio-item-info"><strong>ANPR Mobile</strong></span>
                    </a>
                </div>
            </div>
            <!-- END Portfolio Items -->
        </div>
    </section>

{% endblock %}
{% block scripting %}
    {{parent()}}
{% endblock %}