<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Smart Solutions</title>

        <meta name="description" content="ProUI Frontend is a Responsive Bootstrap Site Template created by pixelcave and added as a bonus in ProUI Admin Template package which is published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-respond.min.js"></script>
    </head>
    <body>
        <!-- Page Container -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!-- 'boxed' class for a boxed layout -->
        <div id="page-container">
            <!-- Site Header -->
            <header>
                <div class="container">
                    <!-- Site Logo -->
                    <a href="index.html" class="site-logo">
                        <img src="img/logo.png"/>
                    </a>
                    <!-- Site Logo -->

                    <!-- Site Navigation -->
                    <nav>
                        <!-- Menu Toggle -->
                        <!-- Toggles menu on small screens -->
                        <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
                            <i class="fa fa-bars"></i>
                        </a>
                        <!-- END Menu Toggle -->

                        <!-- Main Menu -->
                        <ul class="site-nav">
                            <!-- Toggles menu on small screens -->
                            <li class="visible-xs visible-sm">
                                <a href="javascript:void(0)" class="site-menu-toggle text-center">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                            <!-- END Menu Toggle -->
                            <li class="active">
                                <a href="#">Нүүр</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Шийдэл</a>
                                <ul>
                                    <li>
                                        <a href="#">Нэвтрэх хяналтын систем</a>
                                    </li>
                                    <li>
                                        <a href="#">Хяналтын камерын систем</a>
                                    </li>
                                    <li>
                                        <a href="#">Зөөврийн терминалын систем </a>
                                    </li>
                                    <li>
                                        <a href="#">Цахим картын систем</a>
                                    </li>
                                    <li>
                                        <a href="#">Танай байгууллагад зориулсан шийдэл</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" >Бүтээгдэхүүн</a>
                            </li>
                            <li>
                                <a href="features.html" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Мэдээлэл</a>
                                <ul>
                                    <li>
                                        <a href="about.html">Бидний тухай</a>
                                    </li>
                                    <li>
                                        <a href="#">Гүйцэтгэсэн төслүүд</a>
                                    </li>
                                    <li>
                                        <a href="#">Албан ёсны дисрибутор</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Сервис</a>
                                <ul>
                                    <li>
                                        <a href="helpdesk.html">Түгээмэл асуулт хариулт (FAQ)</a>
                                    </li>
                                    <li>
                                        <a href="#">Суурилуултын дараах үйлчилгээ</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">Холбоо барих</a>
                            </li>
                            <li>
                                <a href="login.html" class="btn btn-primary">Нэвтрэх</a>
                            </li>
                        </ul>
                        <!-- END Main Menu -->
                    </nav>
                    <!-- END Site Navigation -->
                </div>
            </header>
            <!-- END Site Header -->

            <!-- Intro -->
            <section class="site-section site-section-light site-section-top themed-background-dark">
                <div class="container">
                    <h1 class="animation-slideDown"><strong>Ханалтын камерын шийдэл</strong></h1>
                    <h2 class="h3 animation-slideUp">Цогц систем</h2>
                </div>
            </section>
            <!-- END Intro -->

            <!-- Content -->
            <section class="site-content site-section">
                <div class="container">
                    <!-- Project Navigation -->
                    <div class="site-block clearfix">
                        <div class="btn-group pull-right">
                            <a href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Өмнөх</a>
                            <a href="javascript:void(0)" class="btn btn-primary">Дараах <i class="fa fa-chevron-right"></i></a>
                        </div>
                        <a href="#" class="btn btn-primary pull-left"><i class="fa fa-th-large"></i> Бусад шийдлүүд</a>
                    </div>
                    <!-- END Project Navigation -->

                    <!-- Project Info -->
                    <div class="row">
                        <!-- Project Slider -->
                        <div class="col-sm-5 site-block">
                            <div id="project-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner text-center">
                                    <div class="active item">
                                        <img src="img/placeholders/photos/photo11.jpg" alt="Image 1">
                                    </div>
                                    <div class="item">
                                        <img src="img/placeholders/photos/photo13.jpg" alt="Image 2">
                                    </div>
                                    <div class="item">
                                        <img src="img/placeholders/photos/photo17.jpg" alt="Image 3">
                                    </div>
                                </div>
                                <!-- END Wrapper for slides -->

                                <!-- Controls -->
                                <a class="left carousel-control" href="#project-carousel" data-slide="prev">
                                    <span>
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                </a>
                                <a class="right carousel-control" href="#project-carousel" data-slide="next">
                                    <span>
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </a>
                                <!-- END Controls -->
                            </div>

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;"><strong>Дотор болн гадна IP камерууд</strong></td>
                                        <td class="text-right">Lilin</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Тусгай зориулалтын дугаар бүртгэх камер</strong></td>
                                        <td class="text-right">NITGEN</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Монирторинг програм хангамж</strong></td>
                                        <td class="text-right"><a href="javascript:void(0)">http://example.com</a></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Хяналтын сервер, бичлэг хадгалах төхөөрөмж</strong></td>
                                        <td class="text-right"><a href="javascript:void(0)">http://example.com</a></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Бусад дэд бүтэц</strong></td>
                                        <td class="text-right">Сүлжээ, серверийн өрөө</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Project Slider -->

                        <!-- Project Details -->
                        <div class="col-sm-7 site-block">
                            <h3 class="site-heading"><strong>Товч</strong> танилцуулга</h3>
                            <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p>In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <!-- END Project Details -->
                    </div>
                    <!-- END Project Info -->
                    <hr>
                </div>
            </section>
            <!-- Action -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="site-block text-center">
                        <h1>Шийдлийн санал болгож буй бүтээгдэхүүнүүд</h1>
                    </div>
                    <hr>
                </div>
            </section> 
            <!-- END Content -->
              <section class="site-content site-section">
                <div class="container">
                    <div class="row portfolio">
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="#">
                                <img src="img/placeholders/photos/photo11.jpg" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong> Бүтээгдэхүүн #1</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="#">
                                <img src="img/placeholders/photos/photo13.jpg" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Бүтээгдэхүүн #2</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="#">
                                <img src="img/placeholders/photos/photo17.jpg" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Бүтээгдэхүүн #3</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="#">
                                <img src="img/placeholders/photos/photo19.jpg" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Бүтээгдэхүүн #4</strong></span>
                            </a>
                        </div>
                    </div>
                    <!-- END Portfolio Items -->
                </div>
            </section>
            
            <section class="site-content site-section">
                <div class="container">
                    <div class="site-block text-center">
                        <h1>Шийдлийн давуу талууд</h1>
                    </div>
                    <hr>
                </div>
            </section> 
            <!-- Key Features -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row row-items text-center">
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-fire" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-fire"></i>
                            </a>
                            <h4><strong>Bootstrap</strong> Powered</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-iphone_shake"></i>
                            </a>
                            <h4><strong>Fully</strong> Responsive</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-flatie" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-eye_open"></i>
                            </a>
                            <h4><strong>Retina</strong> Ready</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-amethyst" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-globe_af"></i>
                            </a>
                            <h4><strong>Cross Browser</strong> Support</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-spring" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-flash"></i>
                            </a>
                            <h4><strong>Lightweight</strong> UI</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-autumn" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-iphone"></i>
                            </a>
                            <h4><strong>Mobile</strong> First</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-night" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-settings"></i>
                            </a>
                            <h4><strong>Awesome</strong> Components</h4>
                        </div>
                        <div class="col-sm-3">
                            <a href="javascript:void(0)" class="circle visibility-none themed-background-fancy" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                                <i class="gi gi-electricity"></i>
                            </a>
                            <h4><strong>Flexible</strong> Layout</h4>
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Key Features -->

      
            <!-- Footer -->
            <footer class="site-footer site-section">
                <div class="container">
                    <!-- Footer Links -->
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">Бидний тухай</h4>
                            <ul class="footer-nav list-inline">
                                <li><a href="about.html">Бид</a></li>
                                <li><a href="contact.html">Холбоо барих</a></li>
                                <li><a href="contact.html">Сервис</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">Хууль эрх зүй</h4>
                            <ul class="footer-nav list-inline">
                                <li><a href="javascript:void(0)">Лицэнз</a></li>
                                <li><a href="javascript:void(0)">Оюуны өмч</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading">Нийгмийн сүлжээ</h4>
                            <ul class="footer-nav footer-nav-social list-inline">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="footer-heading"> &copy; 2010-2016 <a href="http://smartsolutions.mn">Smart Solutions</a></h4>
                            <ul class="footer-nav list-inline">
                                <li>Crafted with by <a href="http://alchemist.mn">Alchemist</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Footer Links -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

        <!-- Include jQuery library from Google's CDN but if something goes wrong get jQuery from local file -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>